*{
  font-family: 'Roboto', sans-serif;
}

.mainHeading{
  background-color: #acc1e2;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100vw;
}


img {
  height: 300px
}

.navBar{
  display: flex;
  justify-content: space-around;
}
.campusList{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2{
  text-align: center;
}

.campusHeader{
  display: flex;
  justify-content: space-around;
}

.studentElement{
  display: flex;
  justify-content: space-between;
}

.twoButtons{
  display: flex;
}

.studentList{
  list-style-type: none;
}

li {
  background: #dbdbdb;
}
li:nth-child(even) {
  background: white;
 }
.editWrapper{
  display: flex;
  justify-content: space-around;
}
.form-group{
  display: flex;
  flex-direction: column;
}
.columnWrapper{
  display: flex;
  flex-direction: column;
}
h3{
  text-align: center;
}

.formBundle{
  flex-direction: column;
  justify-content: space-between;
}

.formBundle form{
  padding-top: 2rem;
}

.enrollForm{
  width: 25vw;
}

.centerButton{
  height: 2rem;
}
